<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        body{
            background-color: cadetblue;

        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>

<form method="Post" th:object="${orders}" th:action="@{/orders/{id}/update(id=${orders.id})}">
<!--  <input type="hidden" name="_method" value="PUT">-->
  <label for="email">User: </label>
  <input th:field="*{email}" type="text" name="email" id="email" placeholder="New Email">
  <label for="totalPrice">Content:</label>
  <input th:field="*{totalPrice}" type="text" name="totalPrice" id="totalPrice" placeholder="Enter New Total Price">
  <button type="submit">Update Post</button>
</form>
</body>
</html>

