<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/orders/{id}/update">
  <input type="hidden" name="_method" value="PUT">
  <label for="email">User: </label>
  <input type="text" name="email" id="email" placeholder="New Email">
  <label for="totalPrice">Content:</label>
  <input type="text" name="totalPrice" id="totalPrice" placeholder="Enter New Total Price">
  <button type="submit">Update Post</button>
</form>
</body>
</html>